.meetupContent {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card {
  border: 0;
  box-shadow: 10px 10px 1px 0px #00425e;
}